<nav class="sidebar">
  <div class="flex-center">

  <h1><a href="/">
      {{ site.title }}
  </a></h1>

  <p class="lead">{{ site.headline }}</p>

  <ul class="nav-items">
    <li><a class="nav-item" href="#discography">Discography</a>
    <li><a class="nav-item" href="#follow">Follow</a>
    <li><a class="nav-item" href="https://github.com/kshkn/lyrics" target="_blank">Lyrics</a></li>

    <span class="navbar-brand"><img alt="koshkamoroshka" src="https://koshkamoroshka.com/img/android-chrome-192x192.1.png" />koshkamoroshka</span>

    <li><a class="nav-item" href="/live">Live</a>
    <li><a class="nav-item" href="/archive/recent">Archive</a>
  </ul>

  </div>
</nav>
