<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.ogtitle %}{{ page.ogtitle }}{% else %}{{ page.title }}{% endif %}">
  <meta property="og:description" content="{% if page.ogdescription %}{{ page.ogdescription }}{% else %}{{ page.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="{{ site.url }}/public/img/{{ page.ogimage }}">
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}. {{ page.ogdescription }}">
  {% endif %}
  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords | join: ', ' }}"/>
  {% endif %}
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <style>
  @font-face {
      font-family: 'novitonovathin';
      src: url('/schedule/novitonova-thin.woff2') format('woff2'), url('/schedule/novitonova-thin.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  </style>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon.png">
  <link rel="shortcut icon" href="/favicon.ico">
</head>
